---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <h1>CHEAP, TASTY AND LOCAL: <br /> 5 PLACES TO EAT IN COPENHAGEN</h1>
  <p>
    Eating well in Copenhagen doesn’t have to be expensive. Here are five restaurants where atmosphere and flavor go
    hand in hand with student-friendly prices – plus our tips on how to get the most out of the experience.
  </p>

  <Footer />
</Layout>
