<header>
  <nav>
    <ul>
      <li><a href="/">ABOUT</a></li>
      <li><a href="/">EXPLORE</a></li>
      <li><a href="/">CONTACT</a></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    background-color: #2f2f2f;
  }
  li,
  a {
    color: white;
    text-decoration: none;
    list-style: none;
  }
</style>
